#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G'
{{- else }}
alias ls='ls --color=auto'
{{- end }}
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '
